@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');

:root {
  /* colors */
  --main-text-color: #fff;
  --green-text-color: #12f7d6;

  /* background */
  --main-bg-color: #292f36;

  /* borer */
  --header-bd-color: #43454d;

  /* fonts */
  --ubuntu-font: 'Ubuntu', sans-serif;
  --ibm-font: 'IBM Plex Mono', sans-serif;
}
